<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="icon" href="/img/cloud.png">
    <title>about</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div>{{>header}}
        <p>this site is created by anish it uses data from mapbox</p>
        <img class="portrait" src="./img/robot.png">
    </div>

    {{>footer}}
</body>

</html>