<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="icon" href="/img/cloud.png">
    <title>help</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    {{>header}}

    <h1>{{helpText}}</h1>
    {{>footer}}
</body>

</html>